[init]
	defaultBranch = stable

[core]
	editor = vim

[commit]
	verbose = true

[user]
	email = work@onurozkan.dev
	name = onur-ozkan

[pull]
	rebase = false

[merge]
	tool = vimdiff

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.yandex.com
	smtpuser = work@onurozkan.dev
	smtpserverport = 587
