[Unit]
Description=Cpu boost controller

[Service]
ExecStart=/bin/sh -c 'echo 0 > /sys/devices/system/cpu/cpufreq/boost'
ExecStop=/bin/sh -c 'echo 1 > /sys/devices/system/cpu/cpufreq/boost'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
